 <div class="notice"><%= flash[:notice] %></div>
 
 <div class="container">
  
  <div class="row mt-5">
    <div class="col-lg-4 offset-1">
      <h5>下書き一覧</h5>
    </div>
  </div>
  
  <div class="row mt-2">
    <div class="col-lg-9 mx-auto">
      <%= render 'public/posts/index', posts: @posts %>
    </div>
  </div>
  
</div>
