

    <h1>ようこそ！　福祉のまち「ふくシティ」へ！</h1>
      <p>ふくシティで、皆さんの作ったものやアイデアを共有しませんか？</p>
      

      <p>「デイサービスのレクリエーションが毎回同じものになってしまう…」</p>
      <p>「今月の保育園の壁面飾り何にしよう…忙しくて作る時間がない…」</p>
      <p>「子どものために市販のおもちゃをアレンジしたい！」</p>

      <p>そんな思いを持った福祉人たちで集まり、アイデアを共有することで、助け合いの輪を広げましょう♪</p>
      <p>みんなで作ろう　福祉のまち！ふくシティ</p>



    <% if user_signed_in? %>
      <%= link_to "投稿する", new_post_path, class: "btn btn-primary" %>
    <% else %>
      
    
     <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>

      <p>投稿、コメント、いいねなどを楽しむためには、<%= link_to "会員登録", new_user_registration_path, class: "btn btn-primary" %>が必要です。</p>
      <p>会員の方は<%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %></p>
    <% end %>
    
    
    